
{{> head }}

   
    {{> navbar}}

    <div class="row">

        <div class="col-8">
            <h1>Universidas Estatal de Bolivar</h1>

        </div>

        <div class="col-4">

            <img src="/assets/img/upanorama.jpg" alt="img-thumbnail">

        </div>

    </div>

{{> footer}}